<!doctype html>
%html{html_attrs}
	%head
		%meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
		%title Links
		%link(rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css")
		%link(rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="style.css")
	%body
		%h1 Links
		%ul.hfeed
			- @bookmarks.each do |b|
				%li.hentry
					%h2
						%a(rel="bookmark"){:href=>b[:uri]}= b[:title]
					%abbr.updated= b[:date]
					%p.entry-content= b[:entry_content]
					%ul.tags
						- b[:tags].each do |tag|
							%li
								%a(rel="tag"){:href=>"http://pinboard.in/u:josephholsten/t:#{tag}"}= tag